<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>This app needs camera access</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs microphone access</string>
    
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app requires access to your photo library to save photos and videos.</string>

    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>This app saves photos and videos to your library.</string>
    
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
